# Name : Naveen Mathews Renji | CWID : 20016323

## Import Libraries

In [3]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

## Load the dataset

In [4]:
df = pd.read_csv("breast-cancer-wisconsin.csv")

In [5]:
df.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [6]:
num_rows = df.shape[0]
print(num_rows)

699

## Taking care of missing values

In [16]:
df['F6']=df['F6'].replace('?',np.nan)
df = df.dropna()

In [5]:
df = df.replace('?', float('nan'))
df["F6"] = pd.to_numeric(df["F6"])
df.describe()

,Sample,F1,F2,F3,F4,F5,F6,F7,F8,F9,Class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,683.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.544656,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,3.643857,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

## Replacing the missing values with the “mean” of the column

In [6]:
mean_value=df['F6'].mean()
df['F6'].fillna(value=mean_value, inplace=True)
print(df.isnull().sum())

Sample    0
F1        0
F2        0
F3        0
F4        0
F5        0
F6        0
F7        0
F8        0
F9        0
Class     0
dtype: int64

## Creating NB Model and classifying the training data

In [7]:
y=df['Class']
y=np.where(y==2,0,1)
X=df.drop('Class',axis=1).values

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30)

## Guassian Naive Bayes

In [20]:
nbg = GaussianNB()
nbg.fit(X_train, y_train)
nbg.score(X_test, y_test)
Y_pred=nbg.predict(X_test)
print("The Confusion Matrix is -")
print(confusion_matrix(y_test,Y_pred))
print("The Classification Report Matrix is -")
print(classification_report(y_test,Y_pred))

The Confusion Matrix is -
[[131   2]
 [ 31  41]]
The Classification Report Matrix is -
              precision    recall  f1-score   support

           0       0.81      0.98      0.89       133
           1       0.95      0.57      0.71        72

    accuracy                           0.84       205
   macro avg       0.88      0.78      0.80       205
weighted avg       0.86      0.84      0.83       205

## Bernoulli Naive Bayes

In [21]:
nbb = BernoulliNB()
nbb.fit(X_train, y_train)
nbb.score(X_test, y_test)
Y_pred=nbb.predict(X_test)
print("The Confusion Matrix is -")
print(confusion_matrix(y_test,Y_pred))
print("The Classification Report Matrix is -")
print(classification_report(y_test,Y_pred))

The Confusion Matrix is -
[[133   0]
 [ 72   0]]
The Classification Report Matrix is -
              precision    recall  f1-score   support

           0       0.65      1.00      0.79       133
           1       0.00      0.00      0.00        72

    accuracy                           0.65       205
   macro avg       0.32      0.50      0.39       205
weighted avg       0.42      0.65      0.51       205

/Users/naveenrenji/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/naveenrenji/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/naveenrenji/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Multinomial Naive Bayes

In [22]:
nbm = MultinomialNB()
nbm.fit(X_train, y_train)
nbm.score(X_test, y_test)
Y_pred=nbm.predict(X_test)
print("The Confusion Matrix is -")
print(confusion_matrix(y_test,Y_pred))
print("The Classification Report Matrix is -")
print(classification_report(y_test,Y_pred))

The Confusion Matrix is -
[[131   2]
 [  4  68]]
The Classification Report Matrix is -
              precision    recall  f1-score   support

           0       0.97      0.98      0.98       133
           1       0.97      0.94      0.96        72

    accuracy                           0.97       205
   macro avg       0.97      0.96      0.97       205
weighted avg       0.97      0.97      0.97       205