# Name : Naveen Mathews Renji | CWID : 20016323

## Import Libraries

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

## Load the dataset

In [ ]:
df = pd.read_csv("CS513_targeting_num.csv")

In [ ]:
df.head()

In [ ]:
num_rows = df.shape[0]
print(num_rows)

In [ ]:
print(df.isnull().sum())

## Summarizing each numerical column (e.g. min, max, mean )

In [ ]:
#I am replacing the empty values from ' ' with nan 
#which will enable me to perform operations on the column

df = df.replace(' ', float('nan'))
df = df.replace('', float('nan'))
df = df.replace('  ', float('nan'))



#Income column was of type object, 
#so converted it to numeric type so i can calculate the summaries.
df["Income"] = pd.to_numeric(df["Income"])

df["Income"].describe()

In [ ]:
df["Age"].describe()

## Identify missing values

In [ ]:
print(df.isnull().sum())

## Replacing the missing values with the “mean” of the column

In [ ]:
#Finding the mean of the "Income"
mean_value=df['Income'].mean()
  
# Replace NaNs in column "Income" with the
# mean of values in the same column
df['Income'].fillna(value=mean_value, inplace=True)
print(df.isnull().sum())

## Displaying the scatter plot of Age and Income

In [ ]:
columns = ['Age', 'Income']
   
scatter_matrix(df[columns])
plt.show()

##  Box plot for columns Age and Income

In [ ]:
fig, ax = plt.subplots()
ax.boxplot(df['Age'])
ax.set_xticklabels(['Age'])
ax.set_ylabel('Values')
plt.show()

In [ ]:
fig, ax = plt.subplots()
ax.boxplot(df['Income'])
ax.set_xticklabels(['Income'])
ax.set_ylabel('Values')
plt.show()