# Name : Naveen Mathews Renji | CWID : 20016323

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

## Load dataset from csv file

In [2]:
df = pd.read_csv('breast-cancer-wisconsin.csv')
df.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

## Drop the 'Sample' column

In [3]:
del df['Sample']

In [4]:
num_rows = df.shape[0]
print(num_rows)

699

## Replace missing values with mean and convert 'F6' column to float datatype

In [5]:
df['F6'] = df['F6'].replace('?', np.nan)
df['F6'] = df['F6'].astype('float')
df['F6'].fillna(value = np.round(df['F6'].mean(), 4), inplace=True)

## Convert 'Class' column to categorical datatype

In [6]:
df['Class'] = df['Class'].astype('category')

## Separate the target variable and feature variables

In [7]:
y = df['Class']
X = df.drop('Class', axis=1).values

## Split the data into training and testing sets

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

## Train a decision tree classifier on the training set

In [9]:
dTree = DecisionTreeClassifier(random_state=123)
dTree.fit(X_train, y_train)

DecisionTreeClassifier(random_state=123)

## Evaluate the performance of the model on the testing set

In [10]:
y_pred = dTree.predict(X_test)

## Results

In [11]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           2       0.95      0.96      0.96       139
           4       0.93      0.90      0.91        71

    accuracy                           0.94       210
   macro avg       0.94      0.93      0.94       210
weighted avg       0.94      0.94      0.94       210

In [12]:
print('Accuracy:', accuracy_score(y_test, y_pred))

Accuracy: 0.9428571428571428